/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	color: #8a5a18;
	font-weight: lighter;
}

table {
	border-collapse:separate;
	border-spacing:0;
}

caption, th, td {
	text-align:left;
	font-weight:normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}

blockquote, q {
	quotes:"" "";
}

/* HTML5 tags */
header, section, footer,aside, nav, article, figure {
	display: block;
}

/* Other Styles */
.clear {
	clear:both;
}
#wrap #main-right #main-right h5 {
	font-family: Arial, Helvetica, sans-serif;
}
#footer #linea_separadora_footer #footerCentral {
	font-weight: normal;
}
#wrap #main #main-right table {
	color: #292929;
}
